# ========================
# GLOBAL
# ========================
*.log
*.tmp
*.swp
*.swo
*.bak
*.ply
*.obj
.DS_Store
.idea/
.vscode/
idea.text

# ========================
# PYTHON (backend/)
# ========================
__pycache__/
*.py[cod]
*.egg-info/
.env
backend/core/models
backend/core/concept_test
backend/config.yaml
# Virtual environment
backend/env
backend/.mypy_cache/

# Some pkl and movies
backend/_2dpose.pkl
backend/_2dpose_confidence.pkl
backend/_3dpose.pkl
backend/_3dpose_confidence.pkl
backend/_humanpose.mp4


# auth


# ========================
# FLUTTER (frontend/)
# ========================
frontend/assets/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.android/
frontend/.ios/
frontend/.gradle/
frontend/build/
frontend/.pub-cache/
frontend/pubspec.lock

# Android/Flutter Generated
frontend/android
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# iOS build
frontend/ios
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/ServiceDefinitions.json
frontend/ios/Runner.xcworkspace/

# CocoaPods
frontend/ios/Pods/
frontend/ios/Podfile.lock

# Linux
frontend/linux

# macos
frontend/macos

# windows
frontend/windows

# test
frontend/test

# web
frontend/web

# ========================
# DATABASE (database/)
# ========================
database/*.db
database/*.pkl
database/*.mp4
database/*.gif
database/*.blend
database/*.blend1
database/MB2024/
database/tests/
database/tests/
database/results/
database/assets/
database/uploads/
database/secrets/
