pyaml
fastapi
uvicorn
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
numpy
opencv-python
ultralytics
open3d

# torch_geometric
# mediapipe
# scikit-learn
# scikit-spatial
# ipykernel
# ipympl