pyaml
fastapi
uvicorn
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
numpy
opencv-python
ultralytics
open3d
mediapipe
ipympl
ipykernel
pytest
pytest-cov
httpx

# torch_geometric
# scikit-learn
# scikit-spatial